Power System Data Analytics 874 Dashboard
Student: Panashe Bradley Kapfunde (27692566)


Ensure that the following is properly installed:

pandas
numpy
plotly
dash
dash-bootstrap-components
numpy-financial
xgboost
scikit-learn
dash-auth